@media screen and (min-width:1824px) {
* {
  margin: 0;
  padding: 0;
  color: #fff;
}

body {
  background: #222831;
  width: 100%;
  height: 4000px;
}
header{
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #393e46;
  margin: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  z-index: 1000;
}
.bb {
  height: 100%;
  margin-bottom: -50px;
}
marquee {
  height: 30px;
  margin-top: 90px;
  font-size: 25px;
}
i {
  margin-top: 100px;
  margin-left: 33px;
}
.i {
  font-size: 150px;

}

#p1 {
  text-align: center;
  padding-top: 10px;
  font-size: 40px;
  color: #fff;
  font-family: Impact, fantasy;
}
footer {
  width: 100%;
  position: absolute;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height:400px;
  background:#393e46;
  text-align: center;
}
}
@media only screen and (min-width : 1224px) and (max-width : 1823px){
  * {
    margin: 0;
    padding: 0;
    color: #fff;
  }

  body {
    background: #222831;
    width: 100%;
    height: 3200px;
  }
  header{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #393e46;
    margin: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    z-index: 1000;
  }
  marquee {
    height: 30px;
    margin-top: 90px;
    font-size: 25px;
  }
  .bb {
    height: 100%;
    margin-bottom: -50px;
  }
  i {
    margin-top: 40px;
    margin-left: 33px;
  }
  .i {
    font-size: 60px;

  }

  #p1 {
    text-align: center;
    padding-top: 10px;
    font-size: 40px;
    color: #fff;
    font-family: Impact, fantasy;
  }
  footer {
    width: 100%;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    height:200px;
    background:#393e46;
    text-align: center;
  }
  }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    * {
      margin: 0;
      padding: 0;
      color: #fff;
    }

    body {
      background: #222831;
      width: 100%;
      height: 3200px;
    }
    header{
      position: fixed;
      width: 100%;
      height: 70px;
      background-color: #393e46;
      margin: 0px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: 0 0 15px rgba(0,0,0,0.5);
      z-index: 1000;
    }
    marquee {
      height: 30px;
      margin-top: 90px;
      font-size: 25px;
    }
    .bb {
      height: 100%;
      margin-bottom: -50px;
      left: 0;
      right: 0;
    }
    i {
      margin-top: 40px;
      margin-left: 33px;
    }
    .i {
      font-size: 70px;

    }

    #p1 {
      text-align: center;
      padding-top: 10px;
      font-size: 40px;
      color: #fff;
      font-family: Impact, fantasy;
    }
    footer {
      width: 100%;
      position: absolute;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: 0 0 15px rgba(0,0,0,0.5);
      height:200px;
      background:#393e46;
      text-align: center;
    }
    }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    * {
      margin: 0;
      padding: 0;
      color: #fff;
    }

    body {
      background: #222831;
      width: 100%;
      height: 3200px;
    }
    header{
      position: fixed;
      width: 100%;
      height: 70px;
      background-color: #393e46;
      margin: 0px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: 0 0 15px rgba(0,0,0,0.5);
      z-index: 1000;
    }
    marquee {
      height: 30px;
      margin-top: 90px;
      font-size: 25px;
    }
    .bb {
      height: 100%;
      margin-bottom: -50px;
    }
    i {
      margin-top: 40px;
      margin-left: 33px;
    }
    .i {
      font-size: 70px;

    }

    #p1 {
      text-align: center;
      padding-top: 10px;
      font-size: 40px;
      color: #fff;
      font-family: Impact, fantasy;
    }
    footer {
      width: 100%;
      position: absolute;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: 0 0 15px rgba(0,0,0,0.5);
      height:200px;
      background:#393e46;
      text-align: center;
    }
    }
  @media only screen and (max-device-width : 480px) and (orientation : portrait) {
    * {
      margin: 0;
      padding: 0;
      color: #fff;
    }

    body {
      background: #222831;
      width: 100%;
      height: 1500px;
    }
    header{
      position: fixed;
      width: 100%;
      height: 50px;
      background-color: #393e46;
      margin: 0px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      box-shadow: 0 0 15px rgba(0,0,0,0.5);
      z-index: 1000;
    }
    marquee {
      height: 30px;
      margin-top: 90px;
      font-size: 25px;
    }
    .bb {
      height: 100%;
      margin-bottom: -50px;
    }
    i {
      margin-top: 15px;
      margin-left: 20px;
    }
    .i {
      font-size: 30px;

    }

    #p1 {
      text-align: center;
      padding-top: 10px;
      font-size: 25px;
      color: #fff;
      font-family: Impact, fantasy;
    }
    footer {
      width: 100%;
      position: absolute;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: 0 0 15px rgba(0,0,0,0.5);
      height:100px;
      background:#393e46;
      text-align: center;
    }
    }
  @media only screen and (max-device-width : 480px) and (orientation : landscape) {
  * {
    margin: 0;
    padding: 0;
    color: #fff;
  }

  body {
    background: #222831;
    width: 100%;
    height: 1500px;
  }
  header{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #393e46;
    margin: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    z-index: 1000;
  }
  marquee {
    height: 30px;
    margin-top: 90px;
    font-size: 25px;
  }
  .bb {
    height: 100%;
    margin-bottom: -50px;
  }
  i {
    margin-top: 15px;
    margin-left: 20px;
  }
  .i {
    font-size: 30px;

  }

  #p1 {
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
    color: #fff;
    font-family: Impact, fantasy;
  }
  footer {
    width: 100%;
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    height:100px;
    background:#393e46;
    text-align: center;
  }
  }
