* {
  margin: 0px;
  width: 100%;
}
body {

  background: #222831;
}
header{
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #393e46;
  margin: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  z-index: 1000;
}

#p1 {
  text-align: center;
  padding-top: 10px;
  font-size: 40px;
  color: #fff;
  font-family: Impact, fantasy;
}
@media screen and (min-width: 300px) {
  body {

    background: #000;
  }
  header{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #393e46;
    margin: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    z-index: 1000;
  }

  #p1 {
    text-align: center;
    padding-top: 15px;
    font-size: 60px;
    color: #fff;
    font-family: Impact, fantasy;
  }
}
