@media screen and (min-width:1824px) {
.py {
  display: flex;
  justify-content: center;
  height: 800px;
}

#py {
  width: 400px;
  position: absolute;
  top: 150px;
  left: 1300px;
}
#html {
  width: 400px;
  position: absolute;
  top: 500px;
  left: 850px;
}
#js {
  width: 400px;
  position: absolute;
  top: 1000px;
  left: 1300px;
}
#css {
  width: 400px;
  position: absolute;
  top: 1400px;
  left: 850px;
}
#cpp {
  width: 400px;
  position: absolute;
  top: 1950px;
  left: 1300px;
}
#java {
  width: 400px;
  position: absolute;
  top: 2300px;
  left: 850px;
}
#kotlin {
  width: 400px;
  position: absolute;
  top: 2800px;
  left: 1300px;
}
#csharp{
  width: 400px;
  position: absolute;
  top: 3200px;
  left: 850px;
}
#swift{
  width: 400px;
  position: absolute;
  top: 3600px;
  left: 1300px;
}
}


@media only screen and (min-width : 1224px) and (max-width : 1823px){
  .py {
    display: flex;
    justify-content: center;
    height: 800px;
  }

  #py {
    width: 300px;
    position: absolute;
    top: 150px;
    left: 850px;
  }
  #html {
    width: 300px;
    position: absolute;
    top: 450px;
    left: 550px;
  }
  #js {
    width: 300px;
    position: absolute;
    top: 850px;
    left: 850px;
  }
  #css {
    width: 300px;
    position: absolute;
    top: 1200px;
    left: 550px;
  }
  #cpp {
    width: 300px;
    position: absolute;
    top: 1600px;
    left: 850px;
  }
  #java {
    width: 300px;
    position: absolute;
    top: 1800px;
    left: 550px;
  }
  #kotlin {
    width: 300px;
    position: absolute;
    top: 2250px;
    left: 850px;
  }
  #csharp{
    width: 300px;
    position: absolute;
    top: 2600px;
    left: 550px;
  }
  #swift{
    width: 300px;
    position: absolute;
    top: 2900px;
    left: 850px;
  }
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .py {
      display: flex;
      justify-content: center;
      height: 800px;
    }

    #py {
      width: 250px;
      position: absolute;
      top: 150px;
      left: 500px;
    }
    #html {
    width: 250px;
    position: absolute;
    top: 420px;
    left: 500px;
    }
    #js {
    width: 250px;
    position: absolute;
    top: 800px;
    left: 500px;
    }
    #css {
    width: 250px;
    position: absolute;
    top: 1100px;
    left: 500px;
    }
    #cpp {
    width: 250px;
      position: absolute;
      top: 1500px;
    left: 500px;
    }
    #java {
    width: 250px;
      position: absolute;
      top: 1800px;
    left: 500px;
    }
    #kotlin {
    width: 250px;
      position: absolute;
      top: 2200px;
    left: 500px;
    }
    #csharp{
    width: 250px;
      position: absolute;
      top: 2500px;
    left: 500px;
    }
    #swift{
      width: 250px;
      position: absolute;
      top: 2800px;
    left: 500px;
    }
    }
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .py {
      display: flex;
      justify-content: center;
      height: 800px;
    }

    #py {
      width: 250px;
      position: absolute;
      top: 150px;
      left: 750px;
    }
    #html {
    width: 250px;
    position: absolute;
    top: 420px;
    left: 750px;
    }
    #js {
    width: 250px;
    position: absolute;
    top: 800px;
    left: 750px;
    }
    #css {
    width: 250px;
    position: absolute;
    top: 1100px;
    left: 750px;
    }
    #cpp {
    width: 250px;
      position: absolute;
      top: 1500px;
    left: 750px;
    }
    #java {
    width: 250px;
      position: absolute;
      top: 1800px;
    left: 750px;
    }
    #kotlin {
    width: 250px;
      position: absolute;
      top: 2200px;
      left: 750px;
    }
    #csharp{
    width: 250px;
      position: absolute;
      top: 2500px;
    left: 750px;
    }
    #swift{
      width: 250px;
      position: absolute;
      top: 2800px;
    left: 750px;
    }
    }
  @media only screen and (max-device-width : 480px) and (orientation : portrait) {
    .py {
      display: none;
      justify-content: center;
      height: 800px;
    }
    }
@media only screen and (max-device-width : 480px) and (orientation : landscape) {
  .py {
    display: none;
    justify-content: center;
    height: 800px;
  }
}
